{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '4ideas/css/bootstrap.min.css' %}">

    <!-- Material CSS -->
    <link rel="stylesheet" href="{% static '4ideas/css/material.min.css' %}">
    <link rel="stylesheet" href="{% static '4ideas/css/material-fullpalette.min.css' %}">
    <link rel="stylesheet" href="{% static '4ideas/css/ripples.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '4ideas/css/style.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static '4ideas/css/roboto.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Icon -->
    <link rel="shortcut icon" href="{% static '4ideas/img/idea.png' %}" />

  </head>
  <body>
    <h1>Hello World!!!</h1>

    <!-- Jquery -->
    <script type="text/javascript" src="{% static '4ideas/js/jquery-2.1.4.min.js' %}"></script>

    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="{% static '4ideas/js/bootstrap.min.js' %}"></script>

    <!-- Material JavaScript -->
    <script type="text/javascript" src="{% static '4ideas/js/material.min.js' %}"></script>
    <script type="text/javascript" src="{% static '4ideas/js/ripples.min.js' %}"></script>
  </body>
</html>
