{% extends 'base-accounts.html' %}
{% block title %}
- Login
{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-1">
            <i class="mdi-social-person"></i>
          </div>
          <div class="col-xs-11">
            <div class="form-control-wrapper"><input id="id_username" name="username" class="form-control empty" type="text" placeholder="Username" autofocus></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-1">
            <i class="mdi-action-lock"></i>
          </div>
          <div class="col-xs-11">
            <div class="form-control-wrapper"><input id="id_password" name="password" class="form-control empty" type="password" placeholder="Password"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-control-wrapper">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
              <div class="checkbox pull-left">
                <label>
                  <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Keep me signed in
                </label>
              </div>
              <a href="{% url 'accounts:join' %}" class="pull-right">Join us!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-fab btn-raised btn-material-red btn-login"><i class="mdi-navigation-arrow-forward"></i></button>
</form>
{% endblock %}
