{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static '4ideas/css/timeline.css' %}" charset="utf-8">
{% endblock %}

{% block title %}- Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 hidden-xs">
    <div class="profile-panel shadow-z-1">
      <a class="btn" id="timeline-change-cover" href="#">Change Cover</a>
      <img id="img-cover-timeline" src="{{ player.cover_image }}" alt="" />
      <div class="user-info">
        <div class="row">
          <div class="col-xs-4">
            <img class="img-user img-rounded pull-left" src="{{ player.profile_image }}" />
          </div>
          <div class="col-xs-8 pull-right profile-user-name">
            <a class="user-name" href="#" >{{ player }}</a>
            <div class="score">
              <i class="fa fa-star"></i><span>50</span>
              <i class="fa fa-money"></i><span>50</span>
              <i class="fa fa-trophy"></i><span>20</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="row">
      <div class="panel panel-default timeline-post shadow-z-1">
        <div class="panel-body">
          <form action="{% url 'social:post' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-xs-1">
                <img class="img-user img-rounded pull-left" src="{{ player.profile_image }}"  />
              </div>
              <div class="col-xs-9">
                <textarea name="{{ post.content.name }}" class="form-control post-area" rows="1" cols="40" placeholder="What are you working on?"></textarea>
              </div>
              <div class="col-xs-2">
                <div>
                  <button type="submit" class="btn btn-sm btn-fab btn-fab-mini btn-raised btn-success"><i class="mdi-content-send"></i></button>
                </div>
              </div>
            </div>
          </form>
          <br>
        </div>
      </div>

      <div class="timeline-centered">
        <button class="btn btn-fab btn-raised btn-material-red btn-fixed" data-toggle="modal" data-target="#postModal"><i class="mdi-content-add"></i></button>
        {% for post in posts %}
        <article class="timeline-entry">
          <div class="timeline-entry-inner">

            <div class="timeline-icon bg-info">
              <i class="icon mdi-editor-format-align-justify"></i>
            </div>

            <div class="timeline-label shadow-z-1">
              <div class="row">
                <div class="col-xs-1">
                  <img class="img-user img-rounded pull-left" src="{{ post.player.profile_image }}"  />
                </div>
                <div class="col-xs-11">
                  <div class="pull-right">
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="post-menu mdi-navigation-more-vert"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Hide</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'social:delete_post' post.id %}">Delete</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>
                      <a href="#">{{ post.player }}</a>
                    </h2>
                    <p><small class="text-muted"><i class="mdi-action-query-builder"></i> {{ post.created_at|naturaltime }}</small></p>
                  </div>
                </div>
              </div>
              <br>
              <p>
                {{ post.content|linebreaksbr }}
              </p>
            </div>
          </div>
        </article>
        {% empty %}
          <h3 class="no-post">There's no post yet</h3>
        {% endfor %}
        {% if posts %}
        <article class="timeline-entry begin">

          <div class="timeline-entry-inner">

            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
              <i class="entypo-flight"></i> +
            </div>

          </div>

        </article>
        {% endif %}
      </div>
    </div>
    <div id="postModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'social:post' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-xs-1">
                  <img class="img-user img-rounded pull-left" src="{{ player.profile_image }}"  />
                </div>
                <div class="col-xs-9">
                  <textarea name="{{ post.content.name }}" class="form-control post-area" rows="1" cols="40" placeholder="What are you working on?"></textarea>
                </div>
                <div class="col-xs-2">
                  <div>
                    <button type="submit" class="btn btn-sm btn-fab btn-fab-mini btn-raised btn-success"><i class="mdi-content-send"></i></button>
                  </div>
                </div>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 hidden-xs">
    <div class="panel panel-material-blue-A700 panel-user-add shadow-z-1">
      <div style="text-align: center;" class="panel-heading">
        <h4 style="font-size: 14px;" class="panel-title">People you may know</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div style="margin-left: 10px;" class="user-add shadow-z-1">
              <a href="#">
                <img src="{% static '4ideas/img/lucas.jpg' %}"/>
                <div class="user-add-name">
                  Lucas Marques
                </div>
              </a>
              <button type="button" class="btn btn-material-green-A700 btn-xs"><i class="mdi-social-person-add"></i> Add</button>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="user-add shadow-z-1">
              <a href="#">
                <img src="{% static '4ideas/img/lucas.jpg' %}"/>
                <div class="user-add-name">
                  Lucas Marques
                </div>
              </a>
              <button type="button" class="btn btn-danger btn-xs"><i class="mdi-content-clear"></i> Unfriend</button>
            </div>
          </div>
        </div>
        <div class="user-add-more">
          <a href="#">More >></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '4ideas/js/autogrow.min.js' %}"></script>
<script type="text/javascript">
$('.post-area').autogrow();
</script>
<script type="text/javascript">
/*
var player = "{{ player }}";
$.notify({
  message: 'Welcome, ' + player,
},{
  animate: {
    enter: 'animated tada',
    exit: 'animated bounceOutDown'
  },
  delay: 2000,
});
*/
</script>
{% endblock %}
