html {
  height: 80% !important;
}

body {
  margin-top: 80px;
  background-color: #F5F8FA;
}

::selection {
    background: rgba(66, 133, 244, 0.6);
}

small {
  font-size: 12px;
}

p {
    word-wrap: break-word !important;
}

#logo-img {
    height: 30px;
    float: left;
    margin-top: -3px;
}

#img-user-menu {
  width: 20px;
}

.dropdown-menu li > a {
  font-size: 13px !important;
}

.dropdown-menu li > a > b {
  font-size: 13px !important;
}

.btn-fixed {
  position: fixed;
  z-index: 10;
  top: 90%;
  left: 73%;
  bottom: 10%;
}

.navbar-form {
  margin-top: 12px !important;
}

.input-search {
    width: 250%;
}

/* Begin NiceScroll Customization */
#ascrail2000 {
    z-index: 10000 !important;
}
/* End NiceScroll Customization */

/* Begin Bootstrap Notify Customization */
[data-notify="container"] {
  position: absolute;
  border-radius: 3px;
  background-color: #454545;
  opacity: 0.8;
  width: 300px;
  margin-top: 60px !important;
}
/* End Bootstrap Notify Customization */

@media ( max-width: 1280px) {
    .input-search {
        width: 200%;
    }
}

@media ( max-width: 1150px) {
    .input-search {
        width: 150%;
    }
}

@media ( max-width: 1020px) {
    .input-search {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .post-info {
      margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .btn-fixed {
      left: 87%;
    }
}
